[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pydantic = "*"
requests = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
coverage = "*"
drf-yasg = "*"
urllib3 = "==1.26.15"

[requires]
python_version = "3.7"
