<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Film List</title>
    <style>
        /* Add some basic styling */
        body {
            font-family: Arial, sans-serif;
        }
        .film {
            border: 1px solid #ccc;
            padding: 10px;
            margin: 10px;
            border-radius: 5px;
        }
        .pagination {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<h1>List of Films</h1>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div>
    {% for film in page_obj %}
    <div class="film">
        <h2>Title: {{ film.title }}</h2>
        <h2>Episode id: {{ film.episode_id }}</h2>
        <h2>Release Date: {{ film.release_date }}</h2>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="film" value="{{ film.id }}">
            <button type="submit">Vote</button>
        </form>
    </div>
    {% endfor %}
</div>

<div class="pagination">
    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span><br>
    {% if page_obj.has_previous %}
    <a href="?page=1">First</a>
    <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}

    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">Next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
</div>
</body>
</html>
