<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Votes</title>
</head>
<body>
<h1>All Votes</h1>

<table border="1">
    <thead>
    <tr>
        <th>Character</th>
        <th>Film</th>
        <th>Starship</th>
        <th>Voter IP</th>
    </tr>
    </thead>
    <tbody>
    {% for vote in votes %}
    <tr>
        <td>
            {% if vote.character %}
            {{ vote.character.name }}
            {% else %}
            N/A
            {% endif %}
        </td>
        <td>
            {% if vote.film %}
            {{ vote.film.title }}
            {% else %}
            N/A
            {% endif %}
        </td>
        <td>
            {% if vote.starship %}
            {{ vote.starship.name }}
            {% else %}
            N/A
            {% endif %}
        </td>
        <td>{{ vote.voter_ip }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<br>
<a href="{% url 'vote-create' %}">Go Back to Voting</a>
</body>
</html>
